<!DOCTYPE html>
<html class = "repeatingBackground">
    <head>
        <%- include partials/navbar.ejs %>
        <title>Dianying</title>
        <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <div style = "height:10vh"></div>
    <div class = "valign-wrapper center-block">
        <body style = "height:100vh;" class = "center-block">
            <div class = "center-div">
                <h2 class = "center-align">Dianying</h2>
                <p class = "center-align">Intelligent recommendations.</p>
                <div class = "center-align">
                    <div class = "row">
                        <a class = "btn" href = "/process">GO</a>
                    </div>
                </div>
            </div>
        </body>
    </div>
</html>