<!DOCTYPE html>
<html class = "repeatingBackground">
    <head>
        <%- include partials/navbar.ejs %>
        <title>Dianying</title>
        <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <div class = "">
        <body>
            <h2 class = "center-align white-text">Recommendations</h2>
            <div class = "container">
                <h3 class = "center-align">
                <%- output %>
                </h3>
            </div>
            <center><a class = "white-text center-align" href = "/">Back to homepage</a></center>
        </body>
    </div>
</html>