body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  color: white;
}
.repeatingBackground { 
background: rgb(34,193,195);
background-size:cover;
}